/* -------------------- Case Studies Page Specific Layout -------------------- */
.case-studies-page section {
  padding: 80px 20px;
}

.case-study-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.case-study-text,
.case-study-description {
  flex: 1 1 48%;
}

.case-study-text h3,
.case-study-text p {
  margin-bottom: 16px;
}

.case-study-text .button-container {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .case-study-row {
    flex-direction: column;
  }

  .case-study-text,
  .case-study-description {
    flex: 1 1 100%;
  }

  .case-study-buttons {
    flex-direction: column;
    align-items: center;
  }
}
